src/main/resources/UserWebService.wsdl

        <!--
         Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.
        -->
        <!--
         Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.
        -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.soap.mykhaylenko.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.soap.mykhaylenko.com/" name="UserWebService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://webservice.soap.mykhaylenko.com/" schemaLocation="http://localhost:8080/services/UserWebService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="getFirstUser">
        <part name="parameters" element="tns:getFirstUser"/>
    </message>
    <message name="getFirstUserResponse">
        <part name="parameters" element="tns:getFirstUserResponse"/>
    </message>
    <message name="getUser">
        <part name="parameters" element="tns:getUser"/>
    </message>
    <message name="getUserResponse">
        <part name="parameters" element="tns:getUserResponse"/>
    </message>
    <message name="addUser">
        <part name="parameters" element="tns:addUser"/>
    </message>
    <message name="addUserResponse">
        <part name="parameters" element="tns:addUserResponse"/>
    </message>
    <portType name="UserWebServiceImpl">
        <operation name="getFirstUser">
            <input wsam:Action="http://webservice.soap.mykhaylenko.com/UserWebServiceImpl/getFirstUserRequest" message="tns:getFirstUser"/>
            <output wsam:Action="http://webservice.soap.mykhaylenko.com/UserWebServiceImpl/getFirstUserResponse" message="tns:getFirstUserResponse"/>
        </operation>
        <operation name="getUser">
            <input wsam:Action="http://webservice.soap.mykhaylenko.com/UserWebServiceImpl/getUserRequest" message="tns:getUser"/>
            <output wsam:Action="http://webservice.soap.mykhaylenko.com/UserWebServiceImpl/getUserResponse" message="tns:getUserResponse"/>
        </operation>
        <operation name="addUser">
            <input wsam:Action="http://webservice.soap.mykhaylenko.com/UserWebServiceImpl/addUserRequest" message="tns:addUser"/>
            <output wsam:Action="http://webservice.soap.mykhaylenko.com/UserWebServiceImpl/addUserResponse" message="tns:addUserResponse"/>
        </operation>
    </portType>
    <binding name="UserWebServiceImplPortBinding" type="tns:UserWebServiceImpl">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getFirstUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="UserWebService">
        <port name="UserWebServiceImplPort" binding="tns:UserWebServiceImplPortBinding">
            <soap:address location="http://localhost:8080/services/UserWebService"/>
        </port>
    </service>
</definitions>